<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.qark_test">

    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TopLevelActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".fileborwser.FileBrowserActivity"/>
        <activity android:name=".exportedcomponent.exportedreceiver.IntentSenderActivity"
            android:label="@string/title_activity_intent_sender"/>
        <activity
            android:name=".intentsniffer.BroadcastIntentSnifferActivity"
            android:label="@string/title_activity_broadcast_intent_sniffer" />
        <activity
            android:name=".exportedcomponent.exportedactivity.IntentSenderActivity"
            android:label="@string/title_activity_exploit_exported_result" >
        </activity>
        <activity
            android:name=".customintent.CreateCustomIntentActivity"
            android:label="@string/title_activity_create_custom_intent" >
        </activity>
        <activity
            android:name=".customintent.ChooseIntentUseCaseActivity"
            android:label="@string/title_activity_choose_intent_use_case" >
        </activity>
        <activity android:name=".webviewtests.WebViewTestsActivity"
            android:label="Demo Web View Configs">
        </activity>

        <service
            android:name=".intentsniffer.services.BroadcastStealerService"
            android:exported="true" >
        </service>

        <receiver android:name=".intentsniffer.services.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>